name: Automatically Approve / Merge PR
on:
  pull_request:

permissions:
  pull-requests: write

jobs:
  Auto_Approve:
    name: Auto Approve
    runs-on: ubuntu-latest
    # These participants were assessed and allowed to skip the review.
    # Please contact jim60105 if you have any questions.
    if: github.actor == 'jim60105' || github.actor == 'ralfjr'
    steps:
      - name: Auto approve
        uses: hmarr/auto-approve-action@v4
        with:
          github-token: "${{ github.token }}"

      - uses: actions/checkout@v4
      - name: Git Auto Merge
        env:
          GH_TOKEN: ${{ secrets.CR_PAT }}
        run: |
          gh pr merge --merge \
                      --auto \
                      ${{ github.event.pull_request.number }} \
        shell: bash
