name: JSON Syntax Check

on:
  pull_request:
    branches-ignore:
      - AutoGenerator

jobs:
  json-syntax-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: json-syntax-check
        uses: limitusus/json-syntax-check@v1
        env:
          BASE: ${{ github.head_ref || github.ref_name }}
        with:
          pattern: "\\.jsonc$"
